.AfterSigninform {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  min-width: 320px;
  background-image: url("../../public/img/Mainimage.jpg");
  background-size: cover;
  background-position: center;
}

.Logoutbutton{
  width:100px;
  height:30px;
  border-radius: 10px;
  border-color: blueviolet;
  background-color: blueviolet;
  color:aliceblue;
  margin-left: auto;
  transform: translateY(-400%);
}
  
.Mainlogo{
  margin-top:60px;
  display: flex;
  align-items: center;
}

.logo{
  width:153px;
  height:153px;
  margin-left: 680px;
}

.welcome{
  margin-top:20px;
}

.welcome > h1{
  color:aliceblue;
}

#first{
  font-family: 'PERTILI';
  src: url('../../public/font/PERTILI.woff') format('woff');
}
#second{
  font-family: 'times';
  src: url('../../public/font/times.woff') format('woff');
}
#third{
  font-family: 'designhouseBold';
  src: url('../../public/font/designhouseBold.woff') format('woff');
}

.welcome_hr{
  background-color: rgb(42, 20, 139);
  border-color: rgb(42, 20, 139);
  width:500px;
  height:3px;
}

.Homebutton{
  margin-top:50px;
  display:flex;
  justify-content: center;
}

.Homebutton button{
  margin-right: 10px;
  width:150px;
  height:30px;
  color:antiquewhite;
  background-color: blueviolet;
  border-color:blueviolet;
  border-radius: 10px;
}

.buttonimg{
  width:20px;
  height:20px;
}