.LeftHome {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    min-width: 320px;
  
  }
  
  .Home > div {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    min-width: 320px;
  }
  
  .main {
    background-color: gray;
    height: 35%;
  }
  
  .main-img {
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 150px;
  }
  
 