.login-logo{
    margin-bottom: 30px;
}

.LoginForm{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    min-width: 320px;
    align-items: center;
    justify-content: center;
    background-image: url(D:\visualstudio\workspace\capstone\capstone-1\public\img\Mainimage.jpg);
    background-size: cover;
    background-position: center;
}

.title{
    text-align: left;
    font-size: 30px;
    color: white;
}

.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:700px;
    height:300px;
}

.Loginimg{
    width:20px;
    height:20px;
}

.PassWord{
    margin-top:10px;
}

input{
    background-color: transparent;
    border-color:transparent;
    border-bottom-color:aliceblue;
}

.Loginbutton{
    margin-top:10px;
}

.text-with-line {
    display: flex;
    align-items: center;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
  }
  
  .text {
    margin: 0 10px;
  }

.register{
    margin-top:10px;
}

.google-login{
    margin-top:20px;
}